@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: "dmsans";
    src: url(/assets/fonts/DMSans-Regular.ttf) format(truetype);
}

@font-face {
    font-family: "paytone";
    src: url(/assets/fonts/PaytoneOne-Regular.ttf) format(truetype);
}

.dmsans {
    font-family: "dmsans";
    font-weight: inherit;
}

.ptone {
    font-family: "paytone";
    font-weight: inherit;
}

::-webkit-scrollbar-corner {
	display: none;
}

::-webkit-scrollbar {
	width: 2px;
	background-color: #181818;
}

::-webkit-scrollbar-track {
	width: 10px;
	background-color: transparent;
}

::-webkit-scrollbar-thumb {
	background-color: #999;
	width: 10px;
	border-radius: 4px;
	border: 1px solid transparent;
	background-clip: content-box;
}

::-webkit-scrollbar-thumb:hover {
	background-color: #555;
}
